<div class="box">
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>工号</th>
        <th>姓名</th>
        <th>日期</th>
        <th>上班时间</th>
        <th>上班地点</th>
        <th>下班时间</th>
        <th>下班地点</th>
        <th>出勤时数</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>AH1100288</td>
        <td>王斌</td>
        <td>2017-09-29</td>
        <td>08:18:19</td>
        <td>江苏省苏州市虎丘区珠江路117号</td>
        <td>18:25:21</td>
        <td>江苏省苏州市虎丘区珠江路117号</td>
        <td>10小时7分钟</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
