<div class="box" *ngIf="records.length > 0">
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>工号</th>
        <th>姓名</th>
        <th>日期</th>
        <th>上班时间</th>
        <th>上班地点</th>
        <th>下班时间</th>
        <th>下班地点</th>
        <th>出勤时数</th>
      </tr>
      <tr *ngFor="let record of recordsGroup;let i = index;">
        <td>{{(i+1)+(page-1)*limit}}</td>
        <td>{{record.cwid}}</td>
        <td>{{record.ccname}}</td>
        <td>{{record.cdate}}</td>
        <td>{{record.cintime}}</td>
        <td>{{record.cinpos}}</td>
        <td>{{record.cofftime}}</td>
        <td>{{record.coffpos}}</td>
        <td>{{record.chour}}</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <app-pagination (goPage)="goToPage($event)"
                    (goNext)="onNext()"
                    (goPrev)="onPrev()"
                    [pagesToShow]="3"
                    [page]="page"
                    [perPage]="limit"
                    [total]="total"></app-pagination>
  </div>
</div>
<span style="color: red;">{{noRecodesInfo}}</span>
