/* You can add global styles to this file, and also import other style files */
html {
  background: #444;
}

@media screen and (max-width: 640px){
  html {
    background: #fff;
  }
}

@media screen and (max-width: 564px){
  .daterangepicker_input{
    display: none;
  }
  .daterangepicker {
    top: 100px !important;
    width: 93% !important;
  }
  .ranges {
    position: absolute;
    top:0;
    right: 0;
  }
  app-footer {
    display: none;
  }
}

/*************************************************/
